<header class="header">
    <nav style="display: flex;justify-content: space-evenly;">
    <p style="margin-top: 10px;"  routerLink="/home" >Home</p>
    <p style="margin-top: 10px;"  routerLink="/employee" >Register</p>
    <p style="margin-top: 10px;"  routerLink="/details" >Emp Details</p>
    <p style="margin-top: 10px;"  routerLink="/chart" >Chart</p>
    <p style="margin-top: 10px;" routerLink="/aboutus">About Us</p>
    <!-- <p style="margin-top: 10px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" routerLink="/dashboard" >Dashboard</p> -->
</nav>
</header>


    <div class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <div class="content">
    <div class="flex-div">
      <div class="name-content">
        <h1 style="color: white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">RO-ONE </h1>
            <p style="color: white;"class="par">The New Age 
                Digital IT Services Provider
                Use Digital Tech to improve your business 360 Degree
                
                We are Unique IT Services AND Digital Marketing Solutions provider based out of Ongole, Andhra Pradesh.</p>
           <p  style="color: white;">OPENING HOURS</p>

            <p style="color: white;">MONDAY - FRIDAY 9:00 - 17:30</p>
            <p style="color: white;">
                ADDRESS
                
                +91-9875757878 / 9875757979 
                HR@RO-ONE.IN
                
                Ongole, Andhra Pradesh
                
                India</p>
      </div>
     