.header {
    height: 50px;
    background-color: orange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar.bg-light {
    background-color: login !important;
    .form-control {
      border-radius: 4.25rem;
    }
  }
  
  .main{
    width: 100%;
   
    background-size: cover;

    height: 100vh;
  
}

.IMG{
  width: 70px; 
  height: 70px; 
  border-radius: 100px; 
  margin:0;
  padding:0;
  }   


  .name-content {
    background-image: URL('https://images.pexels.com/photos/245240/pexels-photo-245240.jpeg?cs=srgb&dl=pexels-atbo-245240.jpg&fm=jpg');
    height: 100vh;
    background-size: cover;
  }