<header class="header">
    <nav style="display: flex;justify-content: space-evenly;">
    <p style="margin-top: 10px;"  routerLink="/home" >Home</p>
    <p style="margin-top: 10px;"  routerLink="/employee" >Register</p>
    <p style="margin-top: 10px;"  routerLink="/details" >Emp Details</p>
    <p style="margin-top: 10px;"  routerLink="/chart" >Chart</p>
    <p style="margin-top: 10px;" routerLink="/aboutus">About Us</p>
</nav>
</header>
<br>  
<ngb-carousel [interval]="3000" [pauseOnHover]="false" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let image of images">
        <div class="carousel-wrapper">
            <img src="assets/{{image.name}}" >         
        </div>
    </ng-template>
</ngb-carousel>
<br>
<br>
<ngb-carousel [interval]="3000" [pauseOnHover]="true" [showNavigationIndicators]="false">
    <ng-template ngbSlide>
        <div class="carousel-wrapper">
            <iframe style="height: 500px;width: 800px;margin-left: 15rem;" src="https://www.youtube.com/embed/vKJ6nXE_6Hc?rel=0" allowfullscreen></iframe>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="carousel-wrapper">
            <iframe style="height: 500px;width: 800px;margin-left: 15rem;" src="https://www.youtube.com/embed/Ao2XIhZ0JGs" allowfullscreen></iframe>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="carousel-wrapper">
            <iframe style="height: 500px;width: 800px;margin-left: 15rem;" src="https://www.youtube.com/embed/lu72YfaDU1o" allowfullscreen></iframe>
        </div>
    </ng-template>
</ngb-carousel>