<header class="header">
    <nav style="display: flex;justify-content: space-evenly;">
    <p style="margin-top: 10px;"  routerLink="/home" >Home</p>
    <p style="margin-top: 10px;"  routerLink="/employee" >Register</p>
    <p style="margin-top: 10px;"  routerLink="/details" >Emp Details</p>
    <p style="margin-top: 10px;"  routerLink="/chart" >Chart</p>
    <p style="margin-top: 10px;" routerLink="/aboutus">About Us</p>
</nav>
</header>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Salary</th>
        <th>Project Name</th>
        <th>Mobile</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.Name }}</td>
        <td>{{ employee.Email }}</td>
        <td>{{ employee.Company }}</td>
        <td>{{ employee.Salary }}</td>
        <td>{{ employee.Projectname }}</td>
        <td>{{ employee.Mobile }}</td>
        <td>
          <button class="btn btn-primary" (click)="update(employee)">Update</button>
          <button style="margin-left: 20px;"  class="btn btn-danger" (click)="remove(employee.Name)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  
  
  
  
  
  
